# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# Android
android/.gradle/
android/local.properties

# IDE
.vscode/
.idea/
*.iml
